
.f-b {
  font-weight: bold;
}

.text-muted{
    color:#776666;
}

.text-danger {
    color:red;
}

.text-center {
    text-align: center;
}

.mt-text {
    width: 350px  !important;
    border: 1px solid #ccc  !important;
    border-radius: 4px  !important;
    box-sizing: border-box  !important;
    margin-top: 2px  !important;
    margin-bottom: 16px  !important;
    outline:none  !important;
    display:inline-block  !important;
}

.mt-btn {
    display: inline-block  !important;
    font-weight: 400  !important;
    text-align: center  !important;
    white-space: nowrap  !important;
    vertical-align: middle  !important;
    -webkit-user-select: none  !important;
    -moz-user-select: none  !important;
    -ms-user-select: none  !important;
    user-select: none  !important;
    border: 1px solid transparent  !important;
    padding: .375rem .75rem  !important;
    font-size: 1rem  !important;
    line-height: 1.5  !important;;
    border-radius: .25rem  !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out  !important;
}

.mt-submit-btn{
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    cursor: pointer !important;
    width: 100px !important;
    height: 40px !important;
    padding: 2px !important;
}


.mt-disable-btn{
    color: #ccc !important;
    background-color: dimgray !important;
    border-color: dimgray !important;
    cursor: not-allowed !important;
    width: 100px !important;
    height: 40px !important;
    padding: 2px !important;
}


.mt-tag-table {
    margin-top: 50px !important;
    width: 980px !important;
}

.mt-w-140{
    width: 140px;
    text-align: center !important;
}